/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

/* Navbar */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.icon img {
    height: 32px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;    
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;    
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.nav-icons a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-left: 20px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #fafafa;
    background-image: url('../images/home-banner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 474px;
    border-radius: 25px;
}
  

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;    
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-text p {
    margin: 30px 0;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* .hero-text a{

} */

h2 {
    font-family: "Fjalla One", sans-serif;
    color: #333;
}

.btn {
    background-color: #EBE8DE;
    padding: 10px 20px;
    color: #1E1E1E;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
}

/* New Products Section */
.new-products {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    text-align: center;
}

.new-products-label{
    text-align: left;
}

.new-products-label h1{
    font-weight: 1000;
    line-height: 1.8;
}

.new-products-label p{
    line-height: 1.8;
}

.new-products h2 {
    font-weight: bold;
    margin: 10px 0; 
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.new-products p {
    width: 200px;
    font-weight: bold;
    margin: 10px 0; 
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.products-container {
    display: flex;
    justify-content: space-around; 
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    height: 350px;
    width: 280px;
}

.product img {
    flex-grow: 1;
    width: 100%;
    border-radius: 10px;
}

.product p {
    font-weight: bold;
    margin: 10px 0;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product span {
    color: #8f8e8f;
    font-weight: bold;
}

/* About Us Section */
.about-us {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}
.about-us h2{
    background-color: #fff;
    padding: 40px;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.about-us h3{
    background-color: #fff;
    padding: 40px;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.about-us p{
    background-color: #fff;
    padding: 40px;
    text-align: center;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    text-align: center;
    width: 200px;
}

.feature img {
    height: 60px;
}

.feature h3 {
    margin-top: 10px;
    font-weight: bold;
}
/* Navbar Hover and Active States */
.nav-links li a:hover,
.nav-links li a:focus {
    color: #d4a373;
    transition: color 0.3s ease;
}

/* Hero Button Hover */
.btn:hover {
    background-color: #b07d52;
    transition: background-color 0.3s ease;
}

/* New Products Section - Product Hover */
.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* About Us Section - Feature Hover */
.feature:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* Logo Section */
.logo-section {
    text-align: center;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 200px;
}

/* Login Form Container */
.login-container {
    background-color: #f9f1e7;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.login-form label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
}

.password-container {
    position: relative;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
}

.remember-forgot a {
    color: #d4a373;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Login Button */
.login-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    font-weight: 400;
    font-size: 18px;
}

.login-btn:hover {
    background-color: #8d623a;
}

/* Or With Section */
.or-with {
    margin: 20px 0;
}

.or-with span {
    display: block;
    margin-bottom: 10px;
    color: #666;
    text-align: center;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.social-login .btn {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    font-weight: 400;
}

.facebook-login {
    color: #3b5998;
}

.google-login {
    color: #db4437;
}

/* Sign-up Section */
.signup-section p {
    color: #666;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signup-section a {
    color: #d4a373;
    text-decoration: none;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signup-section a:hover {
    text-decoration: underline;
}

/* Footer */
.footer-section {
    background-color: #D5C7AC;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-links {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer-components {
    width: 110px;
    height: 150px;
    margin-left: 10px;
    gap: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo h3 {
    font-family: "Fjalla One", sans-serif;
    color: #ffffff;
}
.footer-links h4 {
    font-family: "Fjalla One", sans-serif;
    color: #692b01;
}
.footer-links a {
    font-family: "Fjalla One", sans-serif;
    color: #8a4a01;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
}
.footer-logo p {
    font-family: "Fjalla One", sans-serif;
    color: #000000;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
}

.footer-bottom p{
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
}

/* Signup Form Container */
.signup-container {
    background-color: #f9f1e7;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup-form label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* Password Container for Signup Form */
.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-field {
    position: relative;
}

.show-password {
    width: 24px;
    height: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 1rem;
}

/* Signup Button */
.signup-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    font-weight: 400;
    font-size: 18px;
}

.signup-btn:hover {
    background-color: #8d623a;
}

/* Sign-in Section */
.signin-section p {
    color: #666;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signin-section a {
    color: #d4a373;
    text-decoration: none;
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signin-section a:hover {
    text-decoration: underline;
}

/* Account Information Section */
.account-form {    
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
.account-info-form label{    
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

.info-display{    
    background-color: #ffffff;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.change-password-form label{  
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

.address-form {    
    padding: 20px;
    border-radius: 10px;
}
.address-section label{    
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Basic styling for the dropdown wrapper */
.address-dropdown {
    width: 100%;
    max-width: 50%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

/* Label styling */
.address-dropdown label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

/* Select styling */
.address-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Removes default arrow in some browsers */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    cursor: pointer;
}

/* Custom arrow using a pseudo-element */
.address-dropdown select::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
}

/* Style for each option (in dropdown) */
.address-dropdown option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-family: "Bitter", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
}

/* Buttons */
.btn:hover {
    background-color: #d4a373;
}

/* Address Section */
.address-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Subscription & Payment History Items */
.subscription-item,
.payment-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.subscription-item strong {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.subscription-item p {
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.payment-item p {
    font-family: "Bitter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
section {
    margin: 20px auto;  
    padding: 20px;      
    max-width: 1200px;  
}

/* Message Styles */
.error-text {
    color: #db4437;
}

.success-text {
    color:chartreuse;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin-bottom: 20px;
    }
}

/* Product Container */
.product-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
.product-container h1{
    margin-top: 50px auto;
    font-size: 70px;
    text-align: left;
    font-family: "Fjalla One", sans-serif;
}
.product-container p{
    text-align: left;
    font-family: "Bitter", system-ui;
}

/* Product Categories */
.product-header {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-image: url('../images/products-banner.png');
    background-size: cover;
    background-position: center;
}

.product-categories {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.product-category {
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
}

.product-category img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.product-category h3 {
    margin-top: 10px;
    font-family: "Fjalla One", sans-serif;
}

/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    padding: 10px;
    background-color: #b07d52;
    color: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: #8d623a;
}

/* Product List */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-item {
    flex: 0 0 23%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f1e7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.product-item h4 {
    margin-top: 10px;
    font-family: "Fjalla One", sans-serif;
}

.product-rating {
    height: 20px;
    margin: 10px 0;
    object-fit: cover;
}

.comment-rating {
    height: 20px;
    margin: 0;
    object-fit: cover;
}

.product-star {
    height: 20px !important;
    width: 20px !important;
    object-fit: cover;
}

.product-price {
    color: #b07d52;
    font-weight: bold;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    justify-content: flex-start;
}
.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}
.star-rating input:checked ~ label {
    color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
.star-rating input:checked ~ label:hover,
.star-rating input:checked ~ label:hover ~ label {
    color: gold;
}

.order-list {
    margin: 20px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

/* Subscription Options */
.subscription-options {
    flex: 0 0 30%; 
    background: #E1C9A9;
    background: -moz-linear-gradient(top, #E1C9A9 0%, #BFAA90 50%, #756858 100%);
    background: -webkit-linear-gradient(top, #E1C9A9 0%, #BFAA90 50%, #756858 100%);
    background: linear-gradient(to bottom, #E1C9A9 0%, #BFAA90 50%, #756858 100%);
    padding: 50px;
    border-radius: 15px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.subscription-categories {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;   
}
.subscription-container {
    display: flex;
    justify-content: space-between; /* Space evenly between cards */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.subscription-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 30%; 
    background-color: #EBE8DE;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.subscription-card h2 {
    font-family: "Fjalla One", sans-serif;
}

.subscription-card ul {
    list-style-image: url('../images/check-icon.png');
}

.subscription-card li{
    margin-left: 10px;
}

.subscription-card button {
    margin-top: 10px;
    background-color: #b07d52;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.subscription-card button:hover {
    background-color: #8d623a;
}

/* Product Detail Container */
.product-detail-container {
    max-width: 1200px;
    margin: 20px auto 50px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Back Link */
.back-link {
    color: #d4a373;
    text-decoration: none;
    font-family: "Bitter", system-ui;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.back-link:hover {
    text-decoration: underline;
}

/* Product Detail Section */
.product-detail {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    padding-right: 5%;
    gap: 20px;
}

.product-image {
    width: 500px;
    height: 500px;
    background-color: #1E1E1E80;
    border-radius: 10px;
}

.product-image img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.product-info h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 24px;
    color: #333;
}

.product-rating {
    font-family: "Bitter", system-ui;
    margin-bottom: 10px;
}

.product-info h3, .product-info h4 {
    font-family: "Fjalla One", sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.product-info p, .product-info ul {
    font-family: "Bitter", system-ui;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-info ul {
    list-style: inside;
    padding-left: 0;
}

/* Quantity Selector */
.quantity-selector {
    margin: 15px 0;
}

.quantity-selector label {
    font-family: "Fjalla One", sans-serif;
    font-size: 16px;
}

.quantity-selector input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

/* Add to Cart Button */
.add-to-cart-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-size: 16px;
}

.add-to-cart-btn:hover {
    background-color: #8d623a;
}

/* Comments Section */
.comments-section {
    margin-top: 50px;
}

.comment-box {
    background-color: #f9f1e7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.comment-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-family: "Bitter", system-ui;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-box .comment-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.comment-box .comment-btn:hover {
    background-color: #8d623a;
}

.comment-list .comment {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    color: #333;
}

.comment-rating {
    font-family: "Bitter", system-ui;
    font-size: 14px;
}

/* Load More Button */
.load-more-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #8d623a;
}


/* Create Product Container */
.create-product-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f1e7;
    border-radius: 10px;
}

.create-product-container h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
    color: #333;
    margin-bottom: 5px;
}

/* Form Styling */
.product-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: "Fjalla One", sans-serif;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Bitter", system-ui;
}

/* Image Upload */
.image-upload {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.image-upload-label {
    display: block;
    cursor: pointer;
}

.upload-icon {
    font-size: 24px;
    color: #b07d52;
    margin-bottom: 10px;
}

/* Form Row for Price and Stock */
.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

/* Create Product Button */
.create-product-btn {
    background-color: #b07d52;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-size: 16px;
}

.create-product-btn:hover {
    background-color: #8d623a;
}

.social-icons img {
    width: 24px;
    margin-right: 10px;
}

/* CART PAGE */

.cart-page {
    min-height: 100vh;
    height: auto;
    overflow: auto;
    
}

/* PAYMENT PAGE */
.checkout-container{
    min-height: 100vh;
    height: auto;
    overflow: auto;
}

.checkout-container h1 {
    font-size: 2.5rem;
    color: #343a40;  
    font-family: "Bitter", system-ui;
    margin: 0;  
    padding-bottom: 20px;  
}

.shipping-info{
    display: flex;
    justify-content: flex-start;
}
.summary-line {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.summary-line span {
    color: #1E1E1E;
    font-weight: bold;
}

.total span {
    font-size: 30px;
    color: #1E1E1E;
    font-weight: bolder;
}
.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    text-align: center;
}

.success-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #015021; 
}

.success-container .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #823602; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.success-container .btn:hover {
    background-color: #692b01; 
}