{% extends "_base.html" %}

{% load static %}

{% block title %}
    Add Products
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div style="padding: 10px;">
        {% if is_admin %}
        <h1>MODIFY PRODUCT</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
        
            <label for="product_name">Product Name:</label>
            {{ form.product_name.errors }}
            {{ form.product_name }}
        
            <label for="product_description">Description:</label>
            {{ form.product_description.errors }}
            {{ form.product_description }}
        
            <label for="product_ingredients">Ingredients:</label>
            {{ form.product_ingredients.errors }}
            {{ form.product_ingredients }}
        
            <label for="product_shelflife">Shelf Life:</label>
            {{ form.product_shelflife.errors }}
            {{ form.product_shelflife }}
        
            <label for="product_image">Image:</label>
            {{ form.product_image.errors }}
            {{ form.product_image }}
        
            <label for="stock">Stock:</label>
            {{ form.stock.errors }}
            {{ form.stock }}
        
            <label for="price">Price:</label>
            {{ form.price.errors }}
            {{ form.price }}
        
            <button type="submit" class="btn signup-btn">Modify Product</button>
        </form>
        {% else %}
            <h2>get out</h2>
        {% endif %}
        
    </div>

{% endblock %}
