{% extends "_base.html" %}

{% load static %}

{% block title %}
    Add Products
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <div style="padding: 10px; margin: 20px 5%;">
        {% if is_admin %}
        <h1>ADMIN PRODUCT PAGE</h1>
        <ul style="padding: 10px; list-style-type: none;">
            <li style="margin: 20px 0; font-size: x-large;">
                <a href="{% url 'addproduct' %}">
                    <button class="btn signup-btn"> Add Product</button>
                </a>
            </li>
            <li style="margin: 20px 0; font-size: x-large;">
                <h3 style="text-align: center;">Modify Product</h3>
                <br>
                <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                    {% for product in products %}
                    <a href="{% url 'modifyproduct' product.id %}" class="product-item" style="display: flex; flex-direction: column; align-items: center; text-decoration: none; color: black; font-size: medium;">
                        <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                        <strong style="font-size: large;">{{ product.product_name }}</strong>
                        <ul>
                            <li>Rating: {{ product.rating }}</li>
                            <li>Price: {{ product.price }}</li>
                            <li>Created: {{ product.created_at|date:"y-m-d" }}<br>
                                {{ product.created_at|time:"H:i" }}
                            </li>
                            <li>Stock: {{ product.stock }}</li>
                            <li>Is Available: {{ product.is_available }}</li>
                        </ul>
                        <span></span>
                        <p></p>
                        <span></span>
                    </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        {% else %}
        <h2>get out</h2>
        {% endif %}
    </div>

{% endblock %}
