{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <!-- Navbar -->
  <header>
      <nav>
          <div class="logo">
              <img src="{% static 'images/logo.png' %}" alt="The Daily Bean Logo">
              <h2>The Daily Bean</h2>
          </div>
          <ul class="nav-links">
              <li><a href="{% url 'homepage' %}">Home</a></li>
              <li><a href="{% url 'product_list' %}">Products</a></li>
              <li><a href="#">Subscriptions</a></li>
              <li><a href="#">Contacts</a></li>
          </ul>

          <div class="nav-icons">
              {% if is_authenticated %}
                  <a href="{% url 'account' %}" class="icon">
              {% else %}
                  <span class="welcome-text">Not Logged In</span>
                  <a href="{% url 'login' %}" class="icon">
              {% endif %}
              <img src="{% static 'images/account-icon.png' %}" alt="accounts"></a>
              <span><a href="#">🛒</a></span>
          </div>
      </nav>
  </header>

  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <footer class="footer-section">
      <div class="footer-logo">
        <div class="logo">
            <h2>The Daily Bean</h2>
            <img src="{% static 'images/logo.png' %}" alt="The Daily Bean Logo">
        </div>  
        <p style="flex-grow: 4;">Sip. Savor. Repeat.</p>
        <div class="footer-bottom">
          <p>© 2024 All Rights Reserved | Terms of Use | The Daily Bean</p>
        </div>
      </div>
      <div class="footer-links">
          <div class="footer-components">
              <h4>Information</h4>
              <a href="#">About</a>
              <a href="#">Products</a>
              <a href="#">Blog</a>
          </div>
          <div class="footer-components">
              <h4>Company</h4>
              <a href="#">Community</a>
              <a href="#">Careers</a>
              <a href="#">Our Story</a>
          </div>
          <div class="footer-components">
              <h4>Contact</h4>
              <a href="#">Support</a>
              <a href="#">Help Center</a>
              <a href="#">Pricing</a>
          </div>
      </div>
  </footer>

</body>
</html>