{% extends "_base.html" %}

{% block title %}
    The Daily Bean
{% endblock %}


{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo.png" alt="The Daily Bean Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="#">Subscriptions</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
            <div class="nav-icons">
                <a href="" class="icon"><img src="../static/images/account-icon.png" alt="accounts"></a>
                <span><a href="#">🛒</a></span>
            </div>
        </nav>
    </header>

    <section class="account-info-section">
        <h2>Account Information</h2>
        <div class="account-form">
            {% for message in messages %}
                <ul>
                    {% if 'msg_edit_user' in message.tags %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <li class="success-text">
                        {% else %}
                            <li class="error-text">
                        {% endif %}
                        {{ message }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
            <form method="POST" onsubmit="return confirmEditUser();">
                {% csrf_token %} 
                {{ form.non_field_errors }}
                
                <label for="username">Username:</label>
                <p class="info-display">{{ user.username }}</p>

                <label for="email">Email:</label>
                {{ form.email.errors }}
                {{ form.email }}

                <label for="firstname">First name:</label>
                {{ form.first_name.errors }}
                {{ form.first_name }}
            
                <label for="lastname">Last name:</label>
                {{ form.last_name.errors }}
                {{ form.last_name }}

                <label for="datejoined">Date joined:</label>
                <p class="info-display">{{ user.date_joined }}</p>
            
                <button type="submit" name="edit_user" class="btn edit-email-btn">Save Changes</button>
            
                <div class="account-form">
                    <label>Push Notifications</label>
                    <input type="checkbox" name="push-notifications" id="push-notifications">
            
                    <label>Email Notifications</label>
                    <input type="checkbox" name="email-notifications" id="email-notifications">
                </div>
            </form>
            {% if is_authenticated %}
            <a href="{% url 'logout' %}"><button class="btn edit-email-btn">Logout</button></a>
            {% endif %}
        </div>
    </section>

    <section class="change-password-section">
        <h2>Change Password</h2>
        <div class="account-form">
            {% for message in messages %}
                <ul>
                    {% if 'msg_change_password' in message.tags %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <li class="success-text">
                        {% else %}
                            <li class="error-text">
                        {% endif %}
                        {{ message }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
            <form method="POST" onsubmit="return confirmChangePassword();">
                {% csrf_token %}
                {{ password_form.non_field_errors }}
                {{ password_form.as_p }}
                <!-- <label for="new-password">Password:</label>
                {{ password_form.new_password1.errors }}
                {{ password_form.new_password1 }}
            
                <label for="confirm-password">Re-enter Password:</label>
                {{ password_form.new_password2.errors }}
                {{ password_form.new_password2 }} -->
            
                <button type="submit" name="change_password" class="btn change-password-btn">Change Password</button>
            </form>
        </div>
    </section>

{% endblock %}

{% block footer %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Footer -->
    <footer class="footer-section">
        <div class="footer-logo">
            <h3>The Daily Bean</h3>
            <p>Sip, Savor, Repeat.</p>
        </div>
        <div class="footer-bottom">
            <p>2024 © All Rights Reserved | Terms of Use | The Daily Bean</p>
        </div>
    </footer>

    <script>
        function confirmEditUser() {
            return confirm("Are you sure you want to edit your information?");
        }
        function confirmChangePassword() {
            return confirm("Are you sure you want to change your password?");
        }
    </script>
{% endblock %}
