{% extends "_base.html" %}

{% load static %}

{% block title %}
    Add Products
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <h1>CART PAGE</h1>
    <div>
        <ul style="outline: auto; margin: 10px;">
            {% for product in products %}
                <li style="outline: auto;">
                    <a href="{% url 'modifyproduct' product.id %}">
                        {{ product.name }}
                    </a><br>
                    Rating: {{ product.total_rating }}<br>
                    Description: {{ product.description }}<br>
                    Date Created: {{ product.created_at }}
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
