{% extends "_base.html" %}

{% load static %}

{% block title %}
    The Daily Bean
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Sip, Savor, Repeat.</h1>
            <p>50+ Products | 100+ Subscriptions</p>
            <a href="{% url 'product_list' %}?name=subscriptions" class="btn">Explore Subscriptions →</a>
        </div>
    </section>

    <!-- New Products Section -->
    <section class="new-products">
        <div class="new-products-label">
            <h1>Highest Rated Beans!</h1>
            <p>The Daily Bean ensures you will enjoy these new flavors!</p>
            <br>
            <a href="{% url 'product_list' %}?name=products" class="btn">Explore Products →</a>
        </div>
        <div class="products-container">
            {% for product in products %}
                <a href="{% url 'product_detail' product.id %}?from=products" class="product" style="text-decoration: none;">
                    <img src="{{ product.product_image.url }}" alt="{{ product.prodcut_name}}" style="height: 260px;">
                    <div>
                        <!-- Stars -->
                        <div class="product-rating">
                            {% if product.rating == 0 %}
                            <p>No Ratings</p>
                            {% else %}
                                <img src="/static/images/star.png" class="product-star">
                                {% if product.rating >= 2 %}
                                <img src="/static/images/star.png" class="product-star">
                                {% else %}
                                <img src="/static/images/empty_star.png" class="product-star">
                                {% endif %}
                                {% if product.rating >= 3 %}
                                <img src="/static/images/star.png" class="product-star">
                                {% else %}
                                <img src="/static/images/empty_star.png" class="product-star">
                                {% endif %}
                                {% if product.rating >= 4 %}
                                <img src="/static/images/star.png" class="product-star">
                                {% else %}
                                <img src="/static/images/empty_star.png" class="product-star">
                                {% endif %}
                                {% if product.rating >= 5 %}
                                <img src="/static/images/star.png" class="product-star">
                                {% else %}
                                <img src="/static/images/empty_star.png" class="product-star">
                                {% endif %}
                            {% endif %}
                        </div>
                        <p style="color:black">{{ product.product_name }}</p>
                        <span>₱{{ product.price }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <!-- About Us Section -->
    <section class="about-us">
        <h2>About us</h2>
        <p>Order now and appreciate the beauty of nature</p>
        <div class="features">
            <div class="feature">
                <img src="{% static 'images/large-assortment.png' %}" alt="Large Assortment">
                <h3>Large Assortment</h3>
                <p>We offer many different types of products with fewer variations in each category.</p>
            </div>
            <div class="feature">
                <img src="{% static 'images/fast-delivery.png' %}" alt="Fast Delivery">
                <h3>Fast & Free Shipping</h3>
                <p>4-day or less delivery time, free shipping and an expedited delivery option.</p>
            </div>
            <div class="feature">
                <img src="{% static 'images/support.png' %}" alt="24/7 Support">
                <h3>24/7 Support</h3>
                <p>Answers to any business-related inquiry 24/7 and in real-time.</p>
            </div>
        </div>
    </section>

{% endblock %}