{% extends "_base.html" %}

{% load static %}

{% block title %}
    The Daily Bean
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Sip, Savor, Repeat.</h1>
            <p>50+ Products | 100+ Subscriptions</p>
            <a href="{% url 'product_list' %}?name=subscriptions" class="btn">Explore Subscriptions →</a>
        </div>
    </section>

    <!-- New Products Section -->
    <section class="new-products">
        <div class="new-products-label">
            <h1>Newly Added Beans!</h1>
            <p>The Daily Bean ensures you will enjoy these new flavors!</p>
            <br>
            <a href="{% url 'product_list' %}?name=products" class="btn">Explore Products →</a>
        </div>
        <div class="products-container">
            <div class="product">
                <img src="/static/images/coffee_beans_1.jpeg" alt="Midnight Reserve">
                <div>
                    <p>Golden Sunrise Blend</p>
                    <span>₱ 425.00</span>
                </div>
            </div>
            <div class="product">
                <img src="/static/images/coffee_beans_2.jpg" alt="Golden Sunrise Blend">
                <div>
                    <p>Golden Sunrise Blend</p>
                    <span>₱ 425.00</span>
                </div>
            </div>
            <div class="product">
                <img src="/static/images/coffee_beans_3.jpg" alt="Velvet Caramel Delight">
                <div>
                    <p>Golden Sunrise Blend</p>
                    <span>₱ 425.00</span>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us Section -->
    <section class="about-us">
        <h2>About us</h2>
        <p>Order now and appreciate the beauty of nature</p>
        <div class="features">
            <div class="feature">
                <img src="{% static 'images/large-assortment.png' %}" alt="Large Assortment">
                <h3>Large Assortment</h3>
                <p>We offer many different types of products with fewer variations in each category.</p>
            </div>
            <div class="feature">
                <img src="{% static 'images/fast-delivery.png' %}" alt="Fast Delivery">
                <h3>Fast & Free Shipping</h3>
                <p>4-day or less delivery time, free shipping and an expedited delivery option.</p>
            </div>
            <div class="feature">
                <img src="{% static 'images/support.png' %}" alt="24/7 Support">
                <h3>24/7 Support</h3>
                <p>Answers to any business-related inquiry 24/7 and in real-time.</p>
            </div>
        </div>
    </section>

{% endblock %}