{% extends "_base.html" %}

{% load static %}

{% block title %}
    The Daily Bean
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <div class="login-container">
        <div class="logo-section">
            <img src="{% static 'images/logo.png' %}" alt="The Daily Bean Logo" class="logo-img"></a>
        </div>
        <h1>The Daily Bean</h1>
        <p class="welcome-text">It's been a while! <span>👋</span></p>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="error-text">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn login-btn">Login</button>
        </form>

        <div class="or-with">
            <span>Or With</span>
            <div class="social-login">
                <button class="btn facebook-login">Login with Facebook</button>
                <button class="btn google-login">Login with Google</button>
            </div>
        </div>

        <div class="signup-section">
            <p>Don't have an account? <a href="../../signup/">Sign Up</a></p>
        </div>
    </div>
{% endblock %}
