{% extends "_base.html" %}

{% load static %}

{% block title %}
    Add Products
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <div class="product-container">
        <div class="product-header">
            <div style="margin: 30px;">
                <h1>Bean me!</h1>
                <p>List of every carefully good coffee on sale - enjoy!</p>
            </div>
            
            <!-- Product Categories Section -->
            <div class="product-categories">
                <div class="product-category">
                    <h3>Dark Roast</h3>
                    <img src="{% static 'images/dark-roast.png' %}" alt="Dark Roast">
                </div>
                <div class="product-category">
                    <h3>Medium Roast</h3>
                    <img src="{% static 'images/med-roast.png' %}" alt="Medium Roast">
                </div>
                <div class="product-category">
                    <h3>Light Roast</h3>
                    <img src="{% static 'images/light-roast.png' %}" alt="Light Roast">
                </div>
            </div>

            <div style="display: flex; justify-content: center;">
                {% if is_admin %}
                <a href="{% url 'adminproductpage' %}" style="height: 40px; padding: 10px;"><button class="btn" style="height: 40px;">Create Product</button></a>
                {% endif %}
                <!-- Search Bar -->
                <div class="search-container">
                    <form action="{% url 'search_products' %}" method="get" class="search-bar">
                        <input class="search-input" type="text" name="q" placeholder="What are you looking for?">
                        <input type="hidden" name="page" value="products.html">
                        <button type="submit" class="search-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <section>
            <h2>Click on the BEANS to view details</h2>
        </section>
        
        <!-- Product Listings -->
        <div class="product-list" style="justify-content: center;">
            {% for product in products %}
                {% if product.is_available %}
                    <a href="{% url 'product_detail' product.id %}?from=products" style="text-decoration: none; color: inherit;">
                        <div class="product-item">
                            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                            <h4>{{ product.product_name }}</h4>
                            <!-- Display Rating by Stars -->
                            <div class="product-rating">
                                {% if product.rating == 0 %}
                                <p>No Ratings</p>
                                {% else %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% if product.rating >= 2 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 3 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 4 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 5 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="product-price">${{ product.price }}</p>
                        </div>
                    </a>    
                {% endif %}
            {% empty %}
                <p>No products are available at the moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
