{% extends "_base.html" %}

{% load static %}

{% block title %}
    Add Products
{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <div class="product-container">
        <!-- Product Categories Section -->
        <section class="product-header">
            <div style="margin: 30px;">
                <h1>Monthly Coffee!</h1>
                <p>Get a bean of your choice monthly!</p>
            </div>
            
            <div class = "product-categories">
                <div class="subscription-card">
                    <h2 style="font-size: 40px;">One Bean</h2>
                    <div style="display: flex;"><h2>₱349</h2><p style=" align-self:flex-end ;"><strong>/mo</strong></p></div>
                    <ul>
                        <li><p>Pick one coffee bean of your choice</p></li>
                        <li><p>Free coffee mood chart</p></li>
                    </ul>
                    {% if is_authenticated %}
                        {% if has_onebean %}
                            <button id="btn-one-bean" class="btn" disabled>Currently Subscribed</button>
                        {% else %}
                            <button id="btn-one-bean" class="btn" onclick="orderSubscription()" >Pick one bean</button>
                        {% endif %}
                    {% else %}
                        <button id="btn-one-bean" class="btn">
                            <a href="{% url 'login' %}" style="text-decoration:none; color:inherit;">Log in to add to subscribe!</a>
                        </button>
                    {% endif %}
                </div>

                <div class="subscription-card">
                    <h2 style="font-size: 40px;">Weekly Bean</h2>
                    <div style="display: flex;"><h2>₱999</h2><p style=" align-self:flex-end;"><strong>/mo</strong></p></div>
                    <ul>
                        <li><p>Pick five small packages of coffee beans of your choice</p></li>
                        <li><p>Free coffee notebook</p></li>
                    </ul>
                    {% if is_authenticated %}
                        {% if has_weeklybean %}
                            <button id="btn-weekly-bean" class="btn" disabled >Currently Subscribed</button>
                        {% else %}
                            <button id="btn-weekly-bean" class="btn" onclick="orderSubscription()" >Pick five beans</button>
                        {% endif %}
                    {% else %}
                        <button id="btn-weekly-bean" class="btn">
                            <a href="{% url 'login' %}" style="text-decoration:none; color:inherit;">Log in to add to subscribe!</a>
                        </button>
                    {% endif %}
                </div>

                <!-- <div class="subscription-card">
                    <h2 style="font-size: 40px;">Daily Bean's Choice</h2>
                    <div style="display: flex;"><h2>₱1299</h2><p style=" align-self:flex-end ;"><strong>/mo</strong></p></div>
                    <ul>
                        <li><p>Assortment coffee beans curated from The Daily Bean</p></li>
                        <li><p>Free coffee mood chart</p></li>
                    </ul>
                    <button class="btn" onclick="alert('Unimplemented feature')">Buy now</button>
                </div> -->
            </div>

            <div style="display: flex; justify-content: center;">
                {% if is_admin %}
                <a href="{% url 'adminproductpage' %}" style="height: 40px; padding: 10px;"><button class="btn" style="height: 40px;">Create Product</button></a>
                {% endif %}
                <!-- Search Bar -->
                <div class="search-container">
                    <form action="{% url 'search_products' %}" method="get" class="search-bar">
                        <input class="search-input" type="text" name="q" placeholder="What are you looking for?">
                        <input type="hidden" name="page" value="subscriptions.html">
                        <button type="submit" class="search-btn">Search</button>
                    </form>
                </div>
            </div>
        </section>

        <section>
            <h2>Click on the BEANS to select</h2>
        </section>
    
        <!-- Product Listings -->
        <div class="product-list" style="justify-content: center;">
            {% for product in products %}
                {% if product.is_available %}
                    <!-- <a href="{% url 'product_detail' product.id %}?from=subscriptions" style="text-decoration: none; color: inherit;"> -->
                    <label for="checkbox-product-{{ product.id }}" class="product-item-wrapper">
                        <input type="checkbox" 
                            id="checkbox-product-{{ product.id }}"
                            data-product-id="{{ product.id }}"
                            onclick="checkAmount(this)"
                            style="display: none;">
                        <div class="product-item">
                            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                            <h4>{{ product.product_name }}</h4>
                            <!-- Display Rating by Stars -->
                            <div class="product-rating">
                                {% if product.rating == 0 %}
                                <p>No Ratings</p>
                                {% else %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% if product.rating >= 2 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 3 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 4 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                    {% if product.rating >= 5 %}
                                    <img src="/static/images/star.png" class="product-star">
                                    {% else %}
                                    <img src="/static/images/empty_star.png" class="product-star">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="product-price">₱{{ product.price }}</p>
                        </div>
                    </label>
                    <!-- </a>-->
                {% endif %}
            {% empty %}
                <p>No products are available at the moment.</p>
            {% endfor %}
        </div>
    </div>

    <script>
        var products = [];

        function checkAmount(element){
            const productId = element.getAttribute("data-product-id");
            const checkbox = document.getElementById("checkbox-product-" + productId);
            const btnOneBean = document.getElementById("btn-one-bean");
            const btnWeeklyBean = document.getElementById("btn-weekly-bean");

            if(checkbox.checked)
                products.push(productId)
            else
                products = products.filter(item => item !== productId);
        }

        function orderSubscription() {
            const productString = products.join(", ");
            
            if(products.length != 1 && products.length != 5){
                alert("Invalid quantity of selected products!")
                return;
            }

            fetch(`/products/add-to-subscription/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', 
                    'X-CSRFToken': '{{ csrf_token }}',  
                },
                body: JSON.stringify({ product_ids: productString })  
            })
            .then(response => {
                console.log('Full Response:', response);
                if (response.ok) {
                    alert("Subscription added successfully.");
                    window.location.href = '/payment/subscribe/';
                } else {
                    alert("Error adding subscription.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


    </script>
{% endblock %}
